@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] FashionFiesta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyNewProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-e3wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1o17HC16hDjG9z3wY+H6/NL+e7BE3Z7Kr9I=" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
            margin: 0;

        }

        .navbar {
            background-color: #FCB0FF;
            z-index: 100;
        }

        .navbar-nav .nav-link {
            color: #F8C9FF;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .sidenav {
            width: 130px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            background: rgba(238, 238, 238, 0.8);
            overflow-x: hidden;
            padding-top: 60px;
            border-right: 1px solid #FFF;
        }

            .sidenav a {
                padding: 10px;
                text-decoration: none;
                font-size: 16px;
                color: #000;
                display: block;
            }

                .sidenav a:hover {
                    background-color: #FCB0FF;
                }

        .main {
            margin-left: 130px;
            padding: 10px;
            margin-top: 60px; 
        }

        .footer {
            margin-top: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #FCB0FF; 
            padding: 10px;
            text-align: center;
            z-index: 1000; 
        }


    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HC E-Commerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                            {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Home</a>
                        </li>
                      }
                    </ul>

                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                            @* If the user is signed-in and has the "User" or "Admin" role, display Logout link *@
                            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("User") || User.IsInRole("Admin")))
                            {

                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="changeColorButton"> 
                                        <i class="fas fa-paint-brush"></i>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <form method="post" asp-controller="account" asp-action="logout">
                                        <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                                            Logout @User.Identity.Name
                                        </button>
                                    </form>
                                </li>
                                
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="changeColorButton"> 
                                        <i class="fas fa-paint-brush"></i>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Register">
                                        Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Login">
                                        Login
                                    </a>
                                </li>
                                
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <div class="main">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="sidenav">
                    <a href="@Url.Action("ListRoles", "Admin")">Users</a>
                    <a href="@Url.Action("Index", "Product")">Product</a>
                    <a href="@Url.Action("Index", "Category")">Categories</a>
                    <a href="@Url.Action("Index", "Command")">Commandes</a>
                </div>
            }
            else @if (User.IsInRole("User"))
            {
                <div class="sidenav">
                    <a href="@Url.Action("Favorites", "User")">Favorites</a>

                    <a href="@Url.Action("Index", "ShoppingCart")">Shopping Cart</a>
                    <a href="@Url.Action("CommandUser", "User")">Commands</a>



                </div>
            }
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MyNewProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            // Toggle the submenu visibility on "Products" link click
            $('.submenu-toggle').click(function () {
                $($(this).data('target')).toggle();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Array of colors to cycle through
            var colors = ["#DEFDFF", "#D6FACE", "#CED0FA", "#ffe6ff"];
            var currentIndex = 0;

            $('#changeColorButton').click(function () {
                // Set the background color to the current color
                $('body').css('background-color', colors[currentIndex]);

                // Move to the next color in the array
                currentIndex = (currentIndex + 1) % colors.length;
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
