@model IEnumerable<MyNewProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
   <a asp-action="Create">Create New</a>
</p>
<a asp-action="Index" asp-controller="Category"> All Categories</a>
<!--<form class="search-container" asp-action="Search" asp-controller="Category" method="get">
    <p>
        <input class="form-control" asp-for="CategoryName" placeholder="Nom de la catégorie" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </p>
</form>-->

<!--<form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Student">
    <p>
        <input size="30" placeholder="tapez un Nom" type="search" name="name" />
        <select asp-items="ViewBag.SchoolID" name="schoolid" size=1.5 style="width:300px ;
height:30px"></select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </p>
</form>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
             
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
        }
        else
        {
        <tr>
                <td colspan="3">
                    No category found
                </td>
        </tr>
        }
    </tbody>
</table>