@model IEnumerable<Product>
@{
    ViewBag.Title = "Liste des articles";
}

<link rel="stylesheet" href="~/css/Research.css" asp-append-version="true" />
<style>
    .search-container {
        background-color: rgba(255, 255, 255, 0);
        padding: 20px;
        border-radius: 10px;
    }

    <!-- HTML !-->
<button class="button-33" role="button">Button 33</button>
    <!-- HTML ! -->
    <button class="button-62" role="button" > Button 62</button >
    /* CSS */
    .button-62 {
        background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
        border: 0;
        border-radius: 12px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        outline: transparent;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }

    .button-62:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

    .button-62:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
</style>


<div class="d-flex justify-content-between mb-3">
    <!-- Add a "Create" button -->
    <a asp-action="Create" asp-controller="Product" class="btn btn-primary button-62">Create a new Product</a>
</div> 


<form class="search-container" asp-action="Search" asp-controller="Product">
    <div class="d-flex align-items-center">
        <input size="30" placeholder="tapez un Nom" type="search" name="name" class="mr-2" />
        <select class="form-control mr-2" asp-items="ViewBag.Categories"></select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </div>
</form>




<div class="card-group">
    @foreach (var product in Model)
    {
        var photoPath = "~/images/" + (product.Image ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h5><b>Designation : </b> @product.Designation</h5>
                <h5><b>Price : </b>@product.Price</h5>
                <h5><b>Quantity : </b> @product.Quantity</h5>
                <h5><b>Category : </b> @product.Category.CategoryName</h5>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary m-1">View</a>
                <a asp-action="Edit" asp-controller="Product" class="btn btn-primary m-1" asp-route-id="@product.Id">Edit</a>
                <a asp-action="Delete" asp-controller="Product" class="btn btn-danger m-1" asp-route-id="@product.Id">Delete</a>
            </div>
        </div>
    }
</div>
